@tailwind base;
@tailwind components;

.text_bg {
  background: linear-gradient(181deg, #e9e9ea 50%, #151518 179.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-logo_bg {
  border-radius: 32px;
  border: 1px solid rgba(223, 223, 223, 0);
  background: linear-gradient(180deg, #11161c 35.29%, #282c31 174%);
}

.generate {
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: "clig" off, "liga" off;
}

@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #272727;
  /* border-radius: 8px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8989;
  border-radius: 8px;
}
