@tailwind base;
@tailwind components;

.text_bg {
  background: linear-gradient(181deg, #e9e9ea 50%, #151518 179.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-logo_bg {
  border-radius: 32px;
  background: linear-gradient(180deg, #11161c 35.29%, #282c31 174%);
}

.generate {
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: "clig" off, "liga" off;
  border: 0.692px solid var(--Gradient-Blue, #38c2ee);
  box-shadow: 0px -1.385px 5.538px 0.692px rgba(188, 140, 255, 0.33);
}

.magic_btn {
  @apply py-3 px-[60px] items-center flex-[1_0%_0%] focus:text-white focus:font-bold focus:border-b
          text-gray_71 text-center text-2xl font-light leading-8  focus:border-black_223;

  &:focus {
    background: linear-gradient(227deg, #11161c 26.92%, #282c31 69.62%);
  }
}


@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: #0d1116;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #272727;
  /* border-radius: 8px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8989;
  border-radius: 8px;
}
